.moving-bg-wrapper {
  background-color: red;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.music-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.moving-img {
  position: absolute;
  &.bg {
    width: 100%;
    height: 100%;
  }
  &.ahri {
    z-index: 1;
    height: 70vh;
    bottom: 0;
    left: 0;
    transform: translateX(-20%) rotateY(180deg);
  }
  &.kayle {
    z-index: 1;
    height: 90vh;
    bottom: 100px;
    left: 50%;
    transform: translateX(-60%);
  }
  &.ryze {
    z-index: 1;
    height: 70vh;
    bottom: 0;
    right: 0;
    transform: translateX(20%);
  }
}

@media screen and (max-width: 800px) {
  .moving-img {
    &.ahri {
      visibility: hidden;
    }
    &.ryze {
      visibility: hidden;
    }
  }
}
