@keyframes float {
  0% { bottom: 50px }
  50% { bottom: 70px }
  100% { bottom: 50px }
}

.moving-bg-wrapper {
  background-color: red;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.music-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.moving-img {
  position: absolute;
  &.bg {
    width: 100%;
    height: 100%;
  }
  &.ahri {
    height: 70vh;
    bottom: 0;
    left: 0;
    transform: translateX(-20%) rotateY(180deg);
  }
  &.kayle {
    height: 90vh;
    bottom: 50px;
    left: 50%;
    transform: translateX(-60%);
    animation: float 6s ease-in-out infinite;
    filter: brightness(85%);
  }
  &.ryze {
    height: 70vh;
    bottom: 0;
    right: 0;
    transform: translateX(20%);
  }
}

.layer1 { z-index: 2 }
.layer2 { z-index: 1 }
.layer3 { z-index: 0 }

@media screen and (max-width: 800px) {
  .moving-img {
    &.bg {
      width: unset;
      height: unset;
      &.layer1 { display: none; }
      &.layer2 { transform: translate(-50%, 50%); }
    }
    &.ahri { visibility: hidden; }
    &.ryze { visibility: hidden; }
  }
}
