<div class="moving-bg-wrapper">
  <div class="music-player">
    <app-music-player></app-music-player>
  </div>
  <img class="moving-img bg layer1" src="assets/1st%20layer.png">
  <img class="moving-img bg layer2" src="assets/2nd%20layer.png">
  <img class="moving-img bg layer3" src="assets/3rd%20layer.png">

  <img class="moving-img layer2 kayle" src="assets/kayle.png">
  <img class="moving-img layer2 ahri" src="assets/ahri.png">
  <img class="moving-img layer2 ryze" src="assets/ryze.png">
</div>
