<div class="moving-bg-wrapper">
  <div class="music-player">
    <app-music-player></app-music-player>
  </div>
  <img class="logo" src="assets/logo.png">
  <img class="bg layer1" src="assets/1st%20layer.png">
  <img class="bg layer2" appParallaxElement [movement]='0.015' [isInverted]="true" src="assets/2nd%20layer.png">
  <img class="bg layer3" appParallaxElement [movement]='0.010' src="assets/3rd%20layer.png">

  <img class="layer2 kayle" appParallaxElement [movement]='0.035' [translateX]="'-65%'"  src="assets/kayle.png">
  <img class="layer2 ahri" appParallaxElement [movement]='0.035' [translateX]="'-20%'" [rotateY]="'180deg'" src="assets/ahri.png">
  <img class="layer2 ryze" appParallaxElement [movement]='0.035' [translateX]="'20%'" src="assets/ryze.png">
</div>
