<div class="moving-bg-wrapper">
  <div class="music-player">
    <app-music-player [isAutoplay]="true"></app-music-player>
  </div>
  <img class="moving-img bg" style="z-index: 2" src="assets/1st%20layer.png">
  <img class="moving-img bg" style="z-index: 1" src="assets/2nd%20layer.png">
  <img class="moving-img bg" style="z-index: 0" src="assets/3rd%20layer.png">

  <img class="moving-img kayle" src="assets/kayle.png">
  <img class="moving-img ahri" src="assets/ahri.png">
  <img class="moving-img ryze" src="assets/ryze.png">
</div>
