.music-player-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;

  .progress-bar-wrapper {
    background-color: rgba(133, 133, 133, 0.5);
    overflow: hidden;
    width: 150px;
    height: 4px;
    border-radius: 10px;
    .progress-bar {
      z-index: 1;
      height: 100%;
      background-color: rgba(56, 255, 0, 0.9);
    }
  }

  button {
    all: unset;
  }
  button {
    opacity: 80%;
    height: 24px;
    width: 24px;
    &:hover {
      opacity: 100%;
    }
  }
}
